# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.log
staticfiles/
media/

# Env & secrets
.env

# Tests / tooling
.pytest_cache/
.coverage
htmlcov/

# OS / editor
.DS_Store
.idea/
.vscode/
